<div class="row">
    <h2>Proyectos realizados</h2>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
             <h1>Portfolio</h1>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim sunt veritatis iste recusandae eveniet natus modi saepe debitis, quos sit quae repellendus quisquam neque nihil animi similique aspernatur blanditiis? Maiores?</p>
        </div>
        <div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/APLogo.png" 
                class="img-fluid img-proyecto">
            </div>
        </div>
     </div>
</div>