<div class="row">
    <h1>Experiencia</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam ut cupiditate, nulla quas exercitationem vel consequatur suscipit natus corrupti odit incidunt esse obcaecati totam a sint ducimus impedit minus ullam.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam ut cupiditate, nulla quas exercitationem vel consequatur suscipit natus corrupti odit incidunt esse obcaecati totam a sint ducimus impedit minus ullam.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam ut cupiditate, nulla quas exercitationem vel consequatur suscipit natus corrupti odit incidunt esse obcaecati totam a sint ducimus impedit minus ullam.</p>
        </ul>
    </div>
</div>

