.row{
    padding: 10px;
}
div{
    background-color: #a1b5cb;
}

@media (min-width: 576px) {
    #fotodeperfil{
        position: absolute;
        width: 10%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 5%;
        top: 600px;
    }
}
@media (max-width: 575px) {
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 10%;
        box-shadow: 1px 1px 1px grey;
        left: 5%;
        top: 900px;
    }
}


#nombre{
    font-weight: bold;
    margin-top: 20%;
}

